body {
  background-image: linear-gradient(to right bottom, #7ed56fc5, #28b485bb),
    /* url(../images/bg.jpg); */
  background-size: cover;
  background-position: top;
}
#beginbox {
  background-color: rgba(0, 0, 255, 0.308);
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
#actualGame {
  display: none;
  background-color: rgba(21, 255, 0, 0.308);
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
#results {
  display: none;
  background-color: rgba(21, 255, 0, 0.308);
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
#title {
  padding: 17% 0;
  animation: moveInRight 1s ease-out;
}

.higherZ {
  z-index: 2;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.text-block {
  /* position: absolute; */
  top: 20px;
  left: 45px;
  /* padding: 10px; */
  z-index: -1;
  /* background-color: black;
  color: white; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.p {
  text-align: center;
}

.bttn:link,
.bttn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
}
.justinline {
  display: inline-block
}



.bttn:hover {
  transform: translateY(-3px);
}
.bttn:active {
  translate: translateY(-1px);
}
.bttn-white {
  background-color: #fff;
  color: #777;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.radioButtons {
  font-family: "Old Standard TT", serif;
}
.smallerQuestions {
  padding: 0px 30px 10px 30px;
  font-size: 2vh;
}
#paddedScore {
  padding: 30px 30px 0px 30px;
}
#gameTitle {
  padding-top: 25px;
}

  /* Ursus' Battlefield CSS */

  #p1name {
    width: 25%;
    margin-left: 37%;
    padding-top: 25px;
  }
  
  #p2name {
    width: 25%;
    margin-top: 75px;
    margin-left: 37%;
  }

  .player1cards {
    
  }
  .player2cards {
    
  }

  .cards {
    width: 200px;
    /* position: relative; */
    /* padding: 5px; */
  }

  .drawpile {
    width: 140px;
    float: right;
    margin-top: 50px;
  }

  #p1draw {
    margin-top: 100px;
  }

  #p2draw {
    margin-top: 150px;
  }

  .discardpile {
    width: 140px;
    float: left;
    margin-top: 50px;
  }

  #p2discard {
    margin-top: 200px;
  }

  .battlefield {
    margin-top: 100px;
  }

  /* ENDS URSUS' CSS FOR BATTLEFIELD */

/* 
font-family: 'Shrikhand', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Permanent Marker', cursive;
*/
